
.gameVariation {
    font-size: 1.4vw;
    display: block;
    margin-left: 5vw;
    margin-top: 0.6vw;
    margin-bottom: 0.6vw;
}

.gameVariation .gameMoves {
    font-weight: normal;
}

.comment {
    font-size: 1.4vw;
    display: block;
    margin-top: 0.6vw;
    margin-bottom: 0.6vw;
    color: green;
    font-weight: normal;
}

.gameMoves {
    font-size: 1.5vw;
    font-weight: bolder;
    line-height: 150%;
    font-family: Tahoma, Geneva, sans-serif;
}

.gameMoves .highlight {
    color: darkgreen;
    font-size: 1.6vw;
}

.gameMoves a {
    text-decoration: none;
}

.gameResult {
    font-size: 1.8vw;
}

#gameControls button {
    padding: 4px 1vw;
    font-size: 2vh;
}

#clockControls button {
    padding: 4px 1vw;
}

#pgn h4 {
    font-size: 1.8vw;
}

#pgn h5 {
    font-size: 1.6vw;
}

.panel-heading {
    overflow: hidden;
}

.panel-heading > .nav-tabs {
    border-bottom: none;
    margin-bottom: -10px;
    overflow: visible;
}

.panel .panel-borderless .panel-primary {
    border: 0;
    box-shadow: none;
}

.text-break {
    white-space: normal;
}

@media (max-width: 479px) {
    .text-break-xs {
        white-space: normal;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .text-break-sm {
        white-space: normal;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-break-md {
        white-space: normal;
    }
}

body {
    font-size: 1vh;
}

.nav li a {
    font-size: 1.2vw;
    padding: 0.6vw 0.9vw;
}

#BoardStatus {
    font-size: 2.8vh;
}

#DGTClockStatus {
    font-size: 3vh;
    margin: 0;
}

#DGTClockText {
    font-size: 6vh;
    margin: 0;
}

#console {
    font-size: 2.5vh;
}

#gameControls .btn {
    margin: 0 1px;
}

#clockControls .btn {
    margin: 0 1px;
}

.pagination {
    margin: 0;
    font-size: 1.0vw;
}
.pagination > li > a, .pagination > li > span
{
    padding: 2vh 1vw;
}

.btn {
    padding: 2vh 2vw;
}

.btn-group-xs .btn, .btn-group-xs .input-group-btn .btn, .btn.btn-xs, .input-group-btn .btn.btn-xs {
    padding: 1vh 1vw;
}

.panel {
    margin-bottom: 3vh;
}

.panel-body {
    padding: 2vh 1.2vw;
}

.fa-lg {
    font-size: 3vh;
}

#engineMultiPVStatus {
    font-size: 1.5vw;
}

div.dataTables_info {
    font-size: 1vw;
}

div.dataTables_paginate {
    font-size: 0.8vw;
}

.dataTables_processing {
    font-size: 1vw;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 20vw;
}

.checkbox label, .radio label, label {
    font-size: 1.5vw;
}

.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}

.svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
}